body{
    background-color: cornflowerblue;
}
div{
    background-color: chartreuse;
    border-color: orange;
    border-width: 10px;
    border-style:dashed;
}
span{
    background-color: red;
}

/* hirachy 구조를 따른다 div-span */
