/* google fonts : https://developers.google.com/fonts/docs/getting_started*/

body{
    font-family: Rubik Iso;
    font-size: 90%;
}
/* em element */
/* 1em == current font size 16px 
pixels / 16 = 1em
*/
p{
    font-size: 3em;
}